@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --color-blue-primary: #0075B2;
  --color-blue-secondary: #438CD0;
  --color-yellow: #FFDC33;
}